<!DOCTYPE html>
<html>
    <head>
        <title>Add New Job</title>
    </head>
    <body>
        <h3>Add New Job</h3>
        <form method="post">
            <label>Job Title:</label><br>
            <input type="text" name="title" placeholder="Enter job title"><br><br>
            <label>Company:</label><br>
            <input type="text" name="company" placeholder="Enter company name"><br><br>
            <label>Location:</label><br>
            <input type="text" name="location" placeholder="Enter job location"><br><br>
            <label>Salary:</label><br>
            <input type="text" name="salary" placeholder="Enter salary"><br><br>
            <input type="submit" value="Add Job">
        </form>
    </body>
</html>